.navbar.scrolled {
  background-color: white;
  transition: background 500ms;
}

.splash {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: start; 
  align-items: center; 
}

.home {
  width:100% ;
  height: 100vh;
  background: url(../images/bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.button {
  background: #722F37;
}

.about, .services, .contact {
  background: rgba(114, 47, 55, 0.05);
}

.card {
  border: none;
}

footer {
  background: #444444;
}
